In [ ]:
import pandas as pd
import numpy as np
import sklearn
import acquire

from acquire import new_zillow_data

In [ ]:
df = new_zillow_data()

In [3]:
df.head()

,parcelid,bedroomcnt,taxvaluedollarcnt,calculatedfinishedsquarefeet,taxamount
0,11289917,3.0,136104.0,1458.0,2319.90
1,11705026,2.0,35606.0,1421.0,543.69
2,11389003,3.0,614000.0,1650.0,7673.19
3,11967869,2.0,274237.0,693.0,3267.47
4,12035176,1.0,245906.0,812.0,2926.19

/* We want to be able to predict the values of single unit properties that the tax district assesses using the property data from those whose last transaction was during the "hot months" (in terms of real estate demand) of May and June in 2017. */